/* место для вашего кода */

.header {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0.01em;
  font-weight: 400;
  padding: 90px 25px;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: auto;
  background-color: #fff;
}

.header__menu {
  display: flex;
  padding-right: 15px;
  align-items: center;
  justify-content: space-between;
}

.header__links-list {
  width: 98%;
  display: flex;
  justify-content: space-around;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.header__link-active {
  text-decoration: none;
  border-bottom: none;
}
.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  min-width: 136px;
}

.address {
  
  justify-self: end;
  padding-right: 60px;
  align-self: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #000;
  font-style: normal;
}
.adress > a {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/*Конец шапки сайта*/

/*Основной блок сайта*/

.cover {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  background-image: url(/images/cover.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-transform: uppercase;
  color: #fff;
}

.overlay {
  position: absolute;
  z-index: 0;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display:flex;
  position: relative;
  flex-direction: column;
  font-weight: bold;
  font-size: 100px;
  line-height: 125px;
  letter-spacing: 0.3em;
  padding: 165px 50px 135px;
}

.aligned-text {
  display: block;
  
}

.aligned-text_center {
  display: block;
  text-align: center;
  position: relative;
  right: 25px;
  

}

.aligned-text_right {
  display: block;
  text-align: right;
  position: relative;
  left: 30px;
  bottom: 4px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px 34px 0;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 0.8em;
  position: relative;
  bottom: 17px;
  left: 40px;
}

.bet-button {
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 11px;
  min-width: 256px;
  min-height: 51px;
  background-color: transparent;
  border: 1px solid #fff;
  position: relative;
  bottom: 20px;
  left: 40px;
  cursor: pointer;
}
/*Конец блока cover*/

/*Начало блока с карточками*/
.lots {
  font-family: "Raleway", sans-serif;
  padding: 175px 24px 146px;
  background-color: #fff;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding: 0 0 0 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  padding-top: 27px;
  padding-bottom: 20px;
}

.lots__card-list-item {
  list-style: none;
}

.card-link {
  display: block;
  color: #fff;
  height: 563px;
}

.card {
  display: flex;
  max-width: 334px;
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px 40px;
}

.card__title {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}
.card__text {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.lots__look-more-link {
  display:block;
  width: fit-content;
  height:fit-content;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  margin: 10px 0 0 40px;
}

/*Конец блока карточек*/
/*Начало блока описания*/

.about {
  font-family: "Raleway", sans-serif;
  position: relative;
  padding: 0 24px 175px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 563px auto;
}

.about__column {
  padding: 35px 45px 0 50px;
}

.about__column-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 50px;
}

.about__title {
  color: #000;
  padding: 60px 5px 0 25px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.about__logo {
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  justify-self: center;
}

.about__logo-imge {
  width: 148px;
  height: 114px;
}

.about__text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about__text {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #000;
}
.about__text > p {
  padding-left: 24px;
  line-height: 24px;
}
.about__text > p:first-child {
  padding-bottom: 10px;
}


/*Конец блока описания*/
/*Начало блока подвала*/

.footer {
  font-family: "Raleway", sans-serif;
  background-color: #fff;
  padding: 0 50px 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__menu {
  text-align: center;
}
.footer__menu-list-item {
  list-style: none;
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.footer__menu-link-active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  max-width: 48px;
}
